<div class="container ">

    <div>
        <h1 id="Contact">Contact</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat tempore nisi illum ut nam quibusdam, ex
            voluptas rerum,
            tempora numquam non autem magni cupiditate. Quaerat reiciendis saepe voluptate hic necessitatibus.</p>
        </div>
        
        <div class="email">
            <input type="email", class="text" id="email" placeholder="Your email">
        </div class="email">
        
        <div class="mensaje">
            <input type="mensaje" class="text" id="mensaje" placeholder="Escriba su mensaje">
        </div> class="mensaje">
        
        
</div class="container">

  <button type="submit" class="btn">Submit</button>

  